---
import Benefits from "../components/Benefits.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Hero from "../components/Hero.astro";
import HowToUse from "../components/HowToUse.astro";
import WhyDealink from "../components/WhyDealink.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dealink">
	<div class="container">
		<main>
			<Hero />
			<WhyDealink />
			<HowToUse />
			<Benefits />
			<FinalCTA />	
		</main>
	</div>
</Layout>
