---
import ProfileCard from "./ProfileCard.astro";
import devImage from '../../src/images/Rectangle (1).png'
import designerImage from '../../src/images/Rectangle.png'
import graphisteImage from '../../src/images/unsplash_4wOkqiXNP7M.png'
---

<section class="hero-section">
    <h1>Trouvez (ou proposez) des missions tech en un clic</h1>
    <p class="subtitle">
        La marketplace qui connecte les porteurs d’affaires et les freelances du
        numérique.
    </p>

    <div class="card-container">
        <ProfileCard
            title="Développeur"
            description="Web, mobile, cloud... trouvez la mission qui vous correspond."
            image={{src: devImage, alt: "Illustration pour Développeur"}}
        />
        <ProfileCard
            title="Designer"
            description="UI, UX, branding, prototypage... exprimez votre talent."
            image={{src: designerImage, alt:"Illustration pour designer"}}
        />
        <ProfileCard
            title="Graphiste"
            description="Identité visuelle, illustration, supports print & web."
            image={{src: graphisteImage, alt: "Illustration pour Graphiste"}}
        />
    </div>

    <a href="#" class="button button-primary">Trouvez Votre Première Mission</a>
</section>

<style>
    .hero-section {
        text-align: center;
        padding: 4rem 0;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .subtitle {
        font-size: 1.25rem;
        color: #555;
        margin-bottom: 3rem;
    }

    .card-container{
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }
</style>
